@import url('https://fonts.googleapis.com/css2?family=Raleway&family=VT323&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 80%;
    margin: auto;
}

h1 {
    margin: 1rem 0;
}

#transpilation-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#transpilation-form input[type=submit] {
    padding: 0.5rem;
    background-color:white;
    color: black;
    margin-top: 0.5rem;
    border-radius: 5px;
    transition: all 0.2s;
    cursor: pointer;
}

#transpilation-form input[type=submit]:hover {
    background-color: #eee;
}


#transpilation-form textarea {
    padding: 1rem;
    background-color: #000;
    color: #00ff00;
    font-size: 1.2rem;
    border-radius: 5px;
    resize: none;
    font-family: 'VT323', monospace;
    width: 100%;
}

#transpilation-result {
    margin-top: 1rem;
    padding: 0.5rem;
    background: gray;
    width: 100%;
}

#transpilation-error {
    color: red;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    padding: 0.8rem;
}
